flows.json
[{"id":"ea2296f7.ab9bb8","type":"tab","label":"Trabalho","disabled":false,"info":""},{"id":"ca1e5825.9e6f58","type":"inject","z":"ea2296f7.ab9bb8","name":"INICIAR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":60,"wires":[["8191b24.7d7ac5"]]},{"id":"8191b24.7d7ac5","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://192.168.0.102/api/ghEfJiB-s2QMKHOerBis01wqJ6JHMK3PRqXFxTcj/lights/1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":60,"wires":[["b5dcf93.aa7d508"]]},{"id":"b5dcf93.aa7d508","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":60,"wires":[["71e48ce5.cecf54"]]},{"id":"71e48ce5.cecf54","type":"debug","z":"ea2296f7.ab9bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":60,"wires":[]},{"id":"121723c3.694cfc","type":"comment","z":"ea2296f7.ab9bb8","name":"Pegar dados da lampada 1","info":"Pegar dados do Ubidots","x":930,"y":60,"wires":[]},{"id":"d1747084.e4052","type":"inject","z":"ea2296f7.ab9bb8","name":"INICIAR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":100,"wires":[["5c81445d.34fa2c"]]},{"id":"5c81445d.34fa2c","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://192.168.0.102/api/ghEfJiB-s2QMKHOerBis01wqJ6JHMK3PRqXFxTcj/lights/3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":100,"wires":[["dc8456a3.05c4c8"]]},{"id":"dc8456a3.05c4c8","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":100,"wires":[["6686b3cd.a13b4c"]]},{"id":"6686b3cd.a13b4c","type":"debug","z":"ea2296f7.ab9bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":100,"wires":[]},{"id":"968cb659.858f98","type":"comment","z":"ea2296f7.ab9bb8","name":"Pegar dados da lampada 3","info":"Pegar dados do Ubidots","x":930,"y":100,"wires":[]},{"id":"22b74da1.166292","type":"inject","z":"ea2296f7.ab9bb8","name":"INICIAR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":140,"wires":[["4de7cf2f.f6fb1"]]},{"id":"4de7cf2f.f6fb1","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"put","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://192.168.0.102/api/ghEfJiB-s2QMKHOerBis01wqJ6JHMK3PRqXFxTcj/lights/1/state","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":true,\"bri\":255}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":140,"wires":[["4d54fc44.bb3de4"]]},{"id":"4d54fc44.bb3de4","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":140,"wires":[["67dfdccf.71fff4"]]},{"id":"67dfdccf.71fff4","type":"debug","z":"ea2296f7.ab9bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":140,"wires":[]},{"id":"95351d7f.e71c3","type":"comment","z":"ea2296f7.ab9bb8","name":"Liga lampada 1 com brilho no maximo","info":"Pegar dados do Ubidots","x":970,"y":140,"wires":[]},{"id":"3aebc52c.83f02a","type":"inject","z":"ea2296f7.ab9bb8","name":"INICIAR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":180,"wires":[["968e6b69.aaba58"]]},{"id":"968e6b69.aaba58","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"put","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://192.168.0.102/api/ghEfJiB-s2QMKHOerBis01wqJ6JHMK3PRqXFxTcj/lights/1/state","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":false}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":180,"wires":[["4a0ee9cd.8c1448"]]},{"id":"4a0ee9cd.8c1448","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":180,"wires":[["2a0239ed.dba7f6"]]},{"id":"2a0239ed.dba7f6","type":"debug","z":"ea2296f7.ab9bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":180,"wires":[]},{"id":"da7a8dc.48ea37","type":"comment","z":"ea2296f7.ab9bb8","name":"DesLiga lampada 1","info":"Pegar dados do Ubidots","x":910,"y":180,"wires":[]},{"id":"9900f708.dc3808","type":"inject","z":"ea2296f7.ab9bb8","name":"INICIAR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":220,"wires":[["cd029a14.c22b28"]]},{"id":"cd029a14.c22b28","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"put","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://192.168.0.102/api/ghEfJiB-s2QMKHOerBis01wqJ6JHMK3PRqXFxTcj/lights/3/state","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":true,\"bri\":255}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":220,"wires":[["82c7d5ae.085d28"]]},{"id":"82c7d5ae.085d28","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":220,"wires":[["7860086f.d26018"]]},{"id":"7860086f.d26018","type":"debug","z":"ea2296f7.ab9bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":220,"wires":[]},{"id":"914f70d8.40514","type":"comment","z":"ea2296f7.ab9bb8","name":"Liga lampada 3 com brilho no maximo","info":"Pegar dados do Ubidots","x":970,"y":220,"wires":[]},{"id":"ae6bd08e.db4d3","type":"inject","z":"ea2296f7.ab9bb8","name":"INICIAR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":260,"wires":[["baaeb10b.596f2"]]},{"id":"baaeb10b.596f2","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"put","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://192.168.0.102/api/ghEfJiB-s2QMKHOerBis01wqJ6JHMK3PRqXFxTcj/lights/3/state","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":false}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":260,"wires":[["e7ef5de6.6c7cf"]]},{"id":"e7ef5de6.6c7cf","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":260,"wires":[["50750c1b.1927c4"]]},{"id":"50750c1b.1927c4","type":"debug","z":"ea2296f7.ab9bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":260,"wires":[]},{"id":"e0e81aaf.0338f8","type":"comment","z":"ea2296f7.ab9bb8","name":"Desliga lampada 3","info":"Pegar dados do Ubidots","x":910,"y":260,"wires":[]},{"id":"627093e.280f46c","type":"inject","z":"ea2296f7.ab9bb8","name":"INICIAR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":20,"wires":[["f504ab23.c9b7a8"]]},{"id":"f504ab23.c9b7a8","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://192.168.0.102/api/ghEfJiB-s2QMKHOerBis01wqJ6JHMK3PRqXFxTcj/lights","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":20,"wires":[["5eeb675c.328e68"]]},{"id":"5eeb675c.328e68","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":20,"wires":[["7ad871a2.f4f8"]]},{"id":"7ad871a2.f4f8","type":"debug","z":"ea2296f7.ab9bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":20,"wires":[]},{"id":"f1e461ab.bce64","type":"comment","z":"ea2296f7.ab9bb8","name":"Pegar dados da lampada 1","info":"Pegar dados do Ubidots","x":930,"y":20,"wires":[]},{"id":"5b5d0c0f.0e0144","type":"mqtt in","z":"ea2296f7.ab9bb8","name":"","topic":"/v1.6/devices/maua/lamp1","qos":"2","datatype":"json","broker":"54380132.9959c","x":170,"y":560,"wires":[["3e84b5bf.fa679a"]]},{"id":"731a7835.627828","type":"mqtt in","z":"ea2296f7.ab9bb8","name":"","topic":"/v1.6/devices/maua/lamp2","qos":"2","datatype":"json","broker":"54380132.9959c","x":170,"y":680,"wires":[["bba590b8.800e1"]]},{"id":"32628a7e.9066a6","type":"debug","z":"ea2296f7.ab9bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1690,"y":20,"wires":[]},{"id":"47fc8d9a.8f6534","type":"function","z":"ea2296f7.ab9bb8","name":"","func":"msg.payload = { \"1\": {\"on\":flow.get(\"lamp1\"), \"bri\":flow.get(\"slider1\")}\n              , \"3\": {\"on\":flow.get(\"lamp2\"), \"bri\":flow.get(\"slider2\")}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":320,"wires":[["44d156db.140cb8"]]},{"id":"5b9fdbcb.0c8824","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1490,"y":80,"wires":[["32628a7e.9066a6","22fe5bb.623f1a4"]]},{"id":"b1b5ed56.ea06","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"put","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://192.168.0.102/api/ghEfJiB-s2QMKHOerBis01wqJ6JHMK3PRqXFxTcj/lights","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":320,"wires":[["47fc8d9a.8f6534"]]},{"id":"f0b11d3f.0100d","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://things.ubidots.com/api/v1.6/devices/maua/slider1/lv","tot":"str"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.X-Auth-Token","pt":"msg","to":"BBFF-Y23er1gsB1qaA0f1GJTSrku8qMVGyS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":80,"wires":[["5b9fdbcb.0c8824"]]},{"id":"44d156db.140cb8","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1690,"y":320,"wires":[["ea9efaf9.a32cf8"]]},{"id":"ea9efaf9.a32cf8","type":"debug","z":"ea2296f7.ab9bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1890,"y":320,"wires":[]},{"id":"22fe5bb.623f1a4","type":"function","z":"ea2296f7.ab9bb8","name":"","func":"flow.set(\"slider1\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":80,"wires":[["2c098cc2.54ded4"]]},{"id":"2c098cc2.54ded4","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://things.ubidots.com/api/v1.6/devices/maua/slider2/lv","tot":"str"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.X-Auth-Token","pt":"msg","to":"BBFF-Y23er1gsB1qaA0f1GJTSrku8qMVGyS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":140,"wires":[["db21a4e8.69f5c8"]]},{"id":"db21a4e8.69f5c8","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1490,"y":140,"wires":[["9648c124.0df"]]},{"id":"9648c124.0df","type":"function","z":"ea2296f7.ab9bb8","name":"","func":"flow.set(\"slider2\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":140,"wires":[["e0d9aae0.d09ed8"]]},{"id":"3da2c72b.587758","type":"function","z":"ea2296f7.ab9bb8","name":"","func":"msg.payload = {\"slider1\":flow.get(\"slider1\")};\nmsg.payload[\"slider2\"] = flow.get(\"slider2\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":160,"wires":[[]]},{"id":"e0d9aae0.d09ed8","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://things.ubidots.com/api/v1.6/devices/maua/lamp1/lv","tot":"str"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.X-Auth-Token","pt":"msg","to":"BBFF-Y23er1gsB1qaA0f1GJTSrku8qMVGyS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":200,"wires":[["749027fa.904fb8"]]},{"id":"749027fa.904fb8","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1490,"y":200,"wires":[["ceaf58b5.fe8fc8"]]},{"id":"ceaf58b5.fe8fc8","type":"function","z":"ea2296f7.ab9bb8","name":"","func":"if (msg.payload === \"1.0\") {\n   flow.set(\"lamp1\", \"true\");\n} else {\n   flow.set(\"lamp1\", \"false\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":200,"wires":[["4d6261ef.6d24b"]]},{"id":"4d6261ef.6d24b","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://things.ubidots.com/api/v1.6/devices/maua/lamp2/lv","tot":"str"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.X-Auth-Token","pt":"msg","to":"BBFF-Y23er1gsB1qaA0f1GJTSrku8qMVGyS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":260,"wires":[["15fac32d.597c3d"]]},{"id":"15fac32d.597c3d","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1490,"y":260,"wires":[["55f20c1b.7f1314"]]},{"id":"55f20c1b.7f1314","type":"function","z":"ea2296f7.ab9bb8","name":"","func":"if (msg.payload === \"1.0\") {\n   flow.set(\"lamp2\", \"true\");\n} else {\n   flow.set(\"lamp2\", \"false\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":260,"wires":[["b1b5ed56.ea06"]]},{"id":"73592352.ab01ec","type":"mqtt in","z":"ea2296f7.ab9bb8","name":"","topic":"/v1.6/devices/maua/slider1","qos":"2","datatype":"json","broker":"54380132.9959c","x":170,"y":320,"wires":[["9b589a32.dea588"]]},{"id":"b457bf85.35fd5","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"put","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://192.168.0.180/api/ghEfJiB-s2QMKHOerBis01wqJ6JHMK3PRqXFxTcj/lights/1/state","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":380,"wires":[["1859cb63.e78965"]]},{"id":"9b589a32.dea588","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://things.ubidots.com/api/v1.6/devices/maua/slider1/lv","tot":"str"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.X-Auth-Token","pt":"msg","to":"BBFF-Y23er1gsB1qaA0f1GJTSrku8qMVGyS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":320,"wires":[["57cbc6d3.25e3c8"]]},{"id":"57cbc6d3.25e3c8","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":320,"wires":[["7fff20f6.e1507"]]},{"id":"b9a7ed4a.776a6","type":"function","z":"ea2296f7.ab9bb8","name":"","func":"//msg.payload = {\"on\":true, \"bri\":Math.floor(msg.payload)}\n//return msg;\nif (msg.payload == 0) {\n   msg.payload = {\"on\":false, \"bri\":Math.floor(msg.payload)};\n} else {\n   msg.payload = {\"on\":true, \"bri\":Math.floor(msg.payload)};\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":380,"wires":[["b457bf85.35fd5"]]},{"id":"1859cb63.e78965","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":380,"wires":[[]]},{"id":"7fff20f6.e1507","type":"range","z":"ea2296f7.ab9bb8","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":false,"property":"payload","name":"","x":820,"y":320,"wires":[["b9a7ed4a.776a6"]]},{"id":"53028200.b8754c","type":"mqtt in","z":"ea2296f7.ab9bb8","name":"","topic":"/v1.6/devices/maua/slider2","qos":"2","datatype":"json","broker":"54380132.9959c","x":170,"y":440,"wires":[["2bcb112a.c37e2e"]]},{"id":"ec3e682f.9ba388","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"put","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://192.168.0.180/api/ghEfJiB-s2QMKHOerBis01wqJ6JHMK3PRqXFxTcj/lights/3/state","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":500,"wires":[["7e8b3eab.44255"]]},{"id":"2bcb112a.c37e2e","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://things.ubidots.com/api/v1.6/devices/maua/slider2/lv","tot":"str"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.X-Auth-Token","pt":"msg","to":"BBFF-Y23er1gsB1qaA0f1GJTSrku8qMVGyS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":440,"wires":[["43f39108.c9246"]]},{"id":"43f39108.c9246","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":440,"wires":[["dc830823.6b5a18"]]},{"id":"6819e200.da926c","type":"function","z":"ea2296f7.ab9bb8","name":"","func":"//msg.payload = {\"on\":true, \"bri\":Math.floor(msg.payload)}\n//return msg;\nif (msg.payload == 0) {\n   msg.payload = {\"on\":false, \"bri\":Math.floor(msg.payload)};\n} else {\n   msg.payload = {\"on\":true, \"bri\":Math.floor(msg.payload)};\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":500,"wires":[["ec3e682f.9ba388"]]},{"id":"7e8b3eab.44255","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":500,"wires":[[]]},{"id":"dc830823.6b5a18","type":"range","z":"ea2296f7.ab9bb8","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":false,"property":"payload","name":"","x":820,"y":440,"wires":[["6819e200.da926c"]]},{"id":"16281bd.a3e3de4","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"put","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://192.168.0.180/api/ghEfJiB-s2QMKHOerBis01wqJ6JHMK3PRqXFxTcj/lights/1/state","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":620,"wires":[["e01d1c66.cab5f"]]},{"id":"3e84b5bf.fa679a","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://things.ubidots.com/api/v1.6/devices/maua/lamp1/lv","tot":"str"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.X-Auth-Token","pt":"msg","to":"BBFF-Y23er1gsB1qaA0f1GJTSrku8qMVGyS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":560,"wires":[["f38d1798.e2eba8"]]},{"id":"f38d1798.e2eba8","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":560,"wires":[["20c50bdc.78d974"]]},{"id":"20c50bdc.78d974","type":"function","z":"ea2296f7.ab9bb8","name":"","func":"if (msg.payload === \"1.0\") {\n   msg.payload = {\"on\":true, \"bri\":255};\n} else {\n   msg.payload = {\"on\":false, \"bri\":255};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":560,"wires":[["16281bd.a3e3de4"]]},{"id":"e01d1c66.cab5f","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":620,"wires":[[]]},{"id":"733e0b9f.a7e4c4","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"put","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://192.168.0.180/api/ghEfJiB-s2QMKHOerBis01wqJ6JHMK3PRqXFxTcj/lights/3/state","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":740,"wires":[["fa377248.2d376"]]},{"id":"bba590b8.800e1","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://things.ubidots.com/api/v1.6/devices/maua/lamp2/lv","tot":"str"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.X-Auth-Token","pt":"msg","to":"BBFF-Y23er1gsB1qaA0f1GJTSrku8qMVGyS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":680,"wires":[["b8d7d4e0.df7f68"]]},{"id":"b8d7d4e0.df7f68","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":680,"wires":[["66f37ecb.9b828"]]},{"id":"66f37ecb.9b828","type":"function","z":"ea2296f7.ab9bb8","name":"","func":"if (msg.payload === \"1.0\") {\n   msg.payload = {\"on\":true, \"bri\":255};\n} else {\n   msg.payload = {\"on\":false, \"bri\":255};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":680,"wires":[["733e0b9f.a7e4c4"]]},{"id":"fa377248.2d376","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":740,"wires":[[]]},{"id":"b36e5a72.0afd68","type":"mqtt in","z":"ea2296f7.ab9bb8","name":"","topic":"/v1.6/devices/maua/lamp1","qos":"2","datatype":"json","broker":"54380132.9959c","x":170,"y":820,"wires":[["d1d417a0.6b4ff8"]]},{"id":"f2963018.42765","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://things.ubidots.com/api/v1.6/devices/maua/lamp1/lv","tot":"str"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.X-Auth-Token","pt":"msg","to":"BBFF-Y23er1gsB1qaA0f1GJTSrku8qMVGyS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":820,"wires":[["39ca2a4a.f2daf6"]]},{"id":"39ca2a4a.f2daf6","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":820,"wires":[["f564caba.839548","ea5e40f4.9d7b1"]]},{"id":"f564caba.839548","type":"function","z":"ea2296f7.ab9bb8","name":"","func":"if (msg.payload == \"1.0\") {\n  msg.payload = {\"slider1\":{\"value\": 255}};\n  return msg;\n} else {\n  msg.payload = {\"slider1\":{\"value\": 0}};\n  return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":820,"wires":[["6199559b.8617dc","f1754de8.10ad1"]]},{"id":"6199559b.8617dc","type":"debug","z":"ea2296f7.ab9bb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":800,"wires":[]},{"id":"f1754de8.10ad1","type":"mqtt out","z":"ea2296f7.ab9bb8","name":"","topic":"/v1.6/devices/maua","qos":"","retain":"","broker":"54380132.9959c","x":1210,"y":840,"wires":[]},{"id":"7cf63945.350878","type":"mqtt in","z":"ea2296f7.ab9bb8","name":"","topic":"/v1.6/devices/maua/lamp2","qos":"2","datatype":"json","broker":"54380132.9959c","x":170,"y":920,"wires":[["ddb614c2.622908"]]},{"id":"a255d03.fd8ce3","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://things.ubidots.com/api/v1.6/devices/maua/lamp2/lv","tot":"str"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.X-Auth-Token","pt":"msg","to":"BBFF-Y23er1gsB1qaA0f1GJTSrku8qMVGyS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":920,"wires":[["9e16d9d1.ecf718"]]},{"id":"9e16d9d1.ecf718","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":920,"wires":[["f0b7137.62743f","b270e34a.e7bfc"]]},{"id":"f0b7137.62743f","type":"function","z":"ea2296f7.ab9bb8","name":"","func":"if (msg.payload == \"1.0\") {\n  msg.payload = {\"slider2\":{\"value\": 255}};\n  return msg;\n} else {\n  msg.payload = {\"slider2\":{\"value\": 0}};\n  return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":920,"wires":[["7dcfadda.26cbb4","f231770f.649c58"]]},{"id":"7dcfadda.26cbb4","type":"debug","z":"ea2296f7.ab9bb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":900,"wires":[]},{"id":"f231770f.649c58","type":"mqtt out","z":"ea2296f7.ab9bb8","name":"","topic":"/v1.6/devices/maua","qos":"","retain":"","broker":"54380132.9959c","x":1210,"y":940,"wires":[]},{"id":"b270e34a.e7bfc","type":"debug","z":"ea2296f7.ab9bb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":960,"wires":[]},{"id":"ea5e40f4.9d7b1","type":"debug","z":"ea2296f7.ab9bb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":860,"wires":[]},{"id":"b84e4a4f.1659d8","type":"mqtt in","z":"ea2296f7.ab9bb8","name":"","topic":"/v1.6/devices/maua/slider1","qos":"2","datatype":"json","broker":"54380132.9959c","x":170,"y":1020,"wires":[["ea005595.cd0818"]]},{"id":"47882ba7.7ec5f4","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://things.ubidots.com/api/v1.6/devices/maua/slider1/lv","tot":"str"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.X-Auth-Token","pt":"msg","to":"BBFF-Y23er1gsB1qaA0f1GJTSrku8qMVGyS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1020,"wires":[["95912ed5.18d06"]]},{"id":"95912ed5.18d06","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":1020,"wires":[["4f23d2bf.8438ec","885888b4.fb7148"]]},{"id":"885888b4.fb7148","type":"function","z":"ea2296f7.ab9bb8","name":"","func":"if (msg.payload == 0) {\n    msg.payload = {\"lamp1\":{\"value\": 0}};\n    return msg;\n} else if (msg.payload == 100){\n    msg.payload = {\"lamp1\":{\"value\": 1}};\n    return msg;\n} else {\n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":1020,"wires":[["8b4442b.f324cc","c4b2f688.f841c8"]]},{"id":"8b4442b.f324cc","type":"debug","z":"ea2296f7.ab9bb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":1000,"wires":[]},{"id":"c4b2f688.f841c8","type":"mqtt out","z":"ea2296f7.ab9bb8","name":"","topic":"/v1.6/devices/maua","qos":"","retain":"","broker":"54380132.9959c","x":1210,"y":1040,"wires":[]},{"id":"9beb38b0.3fed38","type":"mqtt in","z":"ea2296f7.ab9bb8","name":"","topic":"/v1.6/devices/maua/slider2","qos":"2","datatype":"json","broker":"54380132.9959c","x":170,"y":1120,"wires":[["800ebbbf.2ea568"]]},{"id":"800ebbbf.2ea568","type":"change","z":"ea2296f7.ab9bb8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://things.ubidots.com/api/v1.6/devices/maua/slider2/lv","tot":"str"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.X-Auth-Token","pt":"msg","to":"BBFF-Y23er1gsB1qaA0f1GJTSrku8qMVGyS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1120,"wires":[["a1ef1f74.73344"]]},{"id":"a1ef1f74.73344","type":"http request","z":"ea2296f7.ab9bb8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":1120,"wires":[["3560a08f.0f64b","4ed558df.1b0438"]]},{"id":"4ed558df.1b0438","type":"function","z":"ea2296f7.ab9bb8","name":"","func":"if (msg.payload == 0) {\n    msg.payload = {\"lamp2\":{\"value\": 0}};\n    return msg;\n} else if (msg.payload == 100){\n    msg.payload = {\"lamp2\":{\"value\": 1}};\n    return msg;\n} else {\n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":1120,"wires":[["57682f71.4cd67","252ad47a.0a335c"]]},{"id":"57682f71.4cd67","type":"debug","z":"ea2296f7.ab9bb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":1100,"wires":[]},{"id":"252ad47a.0a335c","type":"mqtt out","z":"ea2296f7.ab9bb8","name":"","topic":"/v1.6/devices/maua","qos":"","retain":"","broker":"54380132.9959c","x":1210,"y":1140,"wires":[]},{"id":"3560a08f.0f64b","type":"debug","z":"ea2296f7.ab9bb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":1160,"wires":[]},{"id":"4f23d2bf.8438ec","type":"debug","z":"ea2296f7.ab9bb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":1060,"wires":[]},{"id":"d1d417a0.6b4ff8","type":"delay","z":"ea2296f7.ab9bb8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":820,"wires":[["f2963018.42765"]]},{"id":"ea005595.cd0818","type":"delay","z":"ea2296f7.ab9bb8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":1020,"wires":[["47882ba7.7ec5f4"]]},{"id":"ddb614c2.622908","type":"delay","z":"ea2296f7.ab9bb8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":920,"wires":[["a255d03.fd8ce3"]]},{"id":"e124b2d4.9501a","type":"delay","z":"ea2296f7.ab9bb8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":1120,"wires":[[]]},{"id":"54380132.9959c","type":"mqtt-broker","name":"","broker":"industrial.api.ubidots.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]